<div class="container">
  <div class="row">
    <div class="offset-1 col-auto mt-2 mb-2">
      <h3 style="border-left: 4px solid #000;">いいねした投稿</h3>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>投稿ユーザー</th>
          <th>メニュー</th>
          <th>いいね数</th>
          <th>コメント数</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @favorites.each do |favorite| %>
          <td>
            <%= favorite.user.name %>
          </td>
          <td>
            <%= favorite.training.muscle_ids %>
          </td>
          <td>
            <%= favorite.favorite.count %>
          </td>
          <td>
            <%= favorite.training.comment.count %>
          </td>
          <td>
            <%= link_to "詳細", training_path(favorite) %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>