<div class="container-fluid">
  <div class="row">
    <div class="img-wrap">
      <div class="img">
        <%= image_tag "trainingtop2.jpg",size: "1600x900" %>
        <p class="arrow"></p>
      </div>
    </div>
  </div>
  <div class="row top">
    <theader>
      <h1 class="animationTarget">Lets workout</h1>
    </theader> 
    <tmain>
      <ul class="contents">
        <li class="animationTarget">
          <%= image_tag "run.jpg" %>
          <div class="contentstext">
            <h2>workoutってどんなサイト？</h2>
            <p>
            トレーニングを記録し可視化、投稿することでトレーニングの管理がしやすくなり
            モチベーションを維持することができるサイトです、日々のトレーニングやダイエットに役立ててください
            </p>
          </div>
        </li>
  
        <li class="animationTarget">
          <%= image_tag "trainings.jpg" %>
          <div class="contentstext">
            <h2>トレーニング仲間を見つけよう</h2>
            <p>投稿、コメント、フォロー、DM、いいね、検索<br>
               といった一般的なSNS機能を備えてます、普段他のSNSでは投稿するのが
               恥ずかしいトレーニング後の写真もトレーニングしてる仲間だからこそ<br>
               投稿できます、みんなでトレーニングを楽しみシェアしていきましょう
            </p>
          </div>
        </li>
  
        <li class="animationTarget">
          <%= image_tag "chart.jpg" %>
          <div class="contentstext">
            <h2>グラフで体重を管理</h2>
            <p>投稿した日付と体重を元にグラフが作成され<br>
               日々の体重の変化を目で見ることができます<br>
               グラフと体重は他のユーザーには見えないので<br>
               体重を見られるのが恥ずかしくても安心です
            </p>
          </div>
        </li>
  
        <li class="animationTarget">
          <%= image_tag "calendar.jpg" %>
          <div class="contentstext">
            <h2>カレンダーでメニューがすぐわかる</h2>
            <p>投稿するとその日のメニューがカレンダーに表示され<br>
               自分がどんなメニューをしてきたかわかります<br>
               メニューの管理がしやすくなり詳細も見れるので<br>
               計画的にトレーニングしやすいです
            </p>
          </div>
        </li>
      </ul>
    </tmain>
  </div>
  <div class="row top">
    <tfooter class="mx-auto m-bottom">
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-light text-dark-50" %>
    </tfooter>
   <span id="top-btn">
      <a href="#">
        <%= image_tag asset_path("white-arrow.png"), size: "80x80", class: "top-btn" %>
      </a>
   </span>
</div>